<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <ul class="nav">
          <li class="navigation-link">
            <a aria-current="page" href="/index.html">Home</a>
          </li>
          <li class="navigation-link">
            <a href="/PAGES/add.html">Add Product</a>
          </li>
          <li class="navigation-link">
            <a href="/PAGES/signup.html">Sign Up</a>
          </li>
          <li class="navigation-link">
            <a href="/PAGES/login.html">Login</a>
          </li>
        </ul>
      </header>
</body>
</html>